<div class="row">
        <div class="col-md-9">
            <div class="progress progress-striped active" ng-hide="ready">
                <div class="progress-bar" style="width: 100%;"></div>
            </div>
            <ul id="adsList">
                <li ng-repeat="ad in adsData.ads" class="jumbotron">
                    <div class="jumbotron">
                        <h3 class="pull-left">
                            {{ad.title}}
                        </h3>
                        <span class="pull-right">
                            {{ad.date|date:"d-MMM-yyyy"}}
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <img class="adImg" src="img/no-img.png" ng-src={{ad.imageDataUrl}}>
                        </div>
                        <div class="col-md-8">
                            {{ad.text}}
                            <div class="row">
                                <div class="col-md-2">
                                    <h5><strong>Name</strong></h5>
                                    <h5> <strong>Email</strong></h5>
                                    <h5> <strong>Tel.</strong></h5>
                                </div>
                                <div class="col-md-10">
                                    <h5>{{ad.ownerName}}</h5>
                                    <h5>{{ad.ownerEmail}}</h5>
                                    <h5>{{ad.ownerPhone}}</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="btn-group-vertical col-md-3" >
            <span>Filter by categories:</span>
            <button href="#" class="btn btn-default" ng-click="hideCategories=false">All</button>
            <a href="#/ads" ng-hide=hideCategories ng-repeat="category in categoryData" class="btn btn-default"  ng-click=clickCategory(category.id)>{{category.name}}</a>
            <br>
            <span>Filter by towns:</span>
            <button href="#" class="btn btn-default" ng-click="hideTowns=false">All</button>
            <a href="#/ads" ng-hide=hideTowns ng-repeat="town in townsData" class="btn btn-default"  ng-click="clickTown(town.id)">{{town.name}}</a>
        </div>
    </div>