<div class="">
    <div class="row">
        <div class="col-md-9">
            <ul id="adsList">
                <li ng-repeat="ad in adsData.ads" class="jumbotron">
                    <div class="jumbotron">
                        <h3 class="pull-left">
                            {{ad.title}}
                        </h3>
                        <span class="pull-right">
                            {{ad.date|date:"d-MMM-yyyy"}}
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <img class="adImg" src="img/no-img.png" ng-src={{ad.imageDataUrl}}>
                        </div>
                        <div class="col-md-8">
                            {{ad.text}}
                            <div class="row">
                                <div class="col-md-2">
                                    <h5><strong>Name</strong></h5>
                                    <h5> <strong>Email</strong></h5>
                                    <h5> <strong>Tel.</strong></h5>
                                </div>
                                <div class="col-md-10">
                                    <h5>{{ad.ownerName}}</h5>
                                    <h5>{{ad.ownerEmail}}</h5>
                                    <h5>{{ad.ownerPhone}}</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="btn-group col-md-3">
            <a href="#" class="btn btn-default">Default</a>
            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
</div>