<div class="navbar navbar-default" ng-controller="HeaderCtrl">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">Ads World</a>
        </div>
        <ul class="nav navbar-nav" ng-show="isLoggedIn">
            <li><a href="#/user/ads">My Ads</a></li>
            <li><a href="#/user/ads/publish">Publish New Ad</a></li>
            <li><a href="#/user/editProfile">Edit Profile</a></li>
        </ul>
        <div class="navbar-collapse collapse" id="navbar-main">

            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="isLoggedIn"><a href="#/login">Login</a></li>
                <li ng-hide="isLoggedIn"><a href="#/register">Register</a></li>
                <li ng-show="isLoggedIn"><a href="#/">Logout</a></li>
            </ul>
        </div>
    </div>
</div>